<!DOCTYPE html>

<html>
<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png" />

    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Erick Misoles. It uses data from MapBox and WeatherStack</p>
        <img class="portrait" src="/img/167213395_10158851359590708_1071179884121309594_n.jpg"/>
        <p>Created by: {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>